In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                    title  year
0             Chhota Bhai  1966
1            Roaring Road  1926
2                   Swipe  2011
3  Vestidas y alborotadas  1968
4                    Lion  2015

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

In [5]:
# How many movies are listed in the titles dataframe?

len(titles)

225094

In [37]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values(by ='year').head(2)

                                                title  year
43889                                      Miss Jerry  1894
47109  Reproduction of the Corbett and Jeffries Fight  1899

In [7]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

19

In [8]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [9]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort('year').head(1)

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

        title  year
19618  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort('year')

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

                  title  year
94383   Treasure Island  1918
109155  Treasure Island  1920
165886  Treasure Island  1934
55734   Treasure Island  1950
75603   Treasure Island  1972
3715    Treasure Island  1973
65615   Treasure Island  1985
150473  Treasure Island  1999

In [11]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1080

In [12]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1484

In [13]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12428

In [14]:
len(t[t.year // 10 == 195])

12428

In [15]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

         title  year
52986   Batman  1943
157612  Batman  1989

In [16]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

77

In [17]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

26

In [18]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [19]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
814293,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3253330,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1361117,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2927449,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
332627,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2830179,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1584079,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1190740,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2284308,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1692161,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
622030,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2142992,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
433614,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1409393,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
191672,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1293324,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [20]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort('n')
c

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
1593399,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
304519,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
348791,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1368789,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2536860,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1353309,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [21]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort('n')
c

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year                 name     type          character    n
304520   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1208027  Sleuth  2007             Jude Law    actor               Milo  2.0
1687096  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
241984   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
348792   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2536859  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3120271  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [22]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were credited in Branagh’s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [24]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

88

In [25]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

102

In [26]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

17

In [27]:
# How many people have played a role called "The Stranger"?

c = cast
c = c[c.character == 'The Stranger']
len(c)

205

In [28]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [29]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

53

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                   title  year        name   type    character    n
814290  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
814300    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort('year')
c

/home/zer07/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
814315,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
814272,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
814317,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
814305,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
814319,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
814296,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
814263,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
814288,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
814289,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
814297,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
814255,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
814292,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
814291,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
814294,Notorious,1946,Cary Grant,actor,Devlin,1.0
814311,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
814312,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
814287,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
814267,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
814276,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

In [32]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

152794

In [33]:
# How many roles were avilable for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

55542

In [34]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

63029

In [35]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1080775

In [36]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

432053